<h2>Confirmar datos</h2>
<hr />

<div
  class="row passenger-container"
  *ngFor="let passenger of passengersArray.controls; index as i"
>
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <h5 class="">Pasajero {{ i + 1 }}</h5>
    <div class="d-flex gap-2">
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="editInfo(i)"
        *ngIf="!isEditMode(passenger)"
      >
        Editar <i class="bi bi-pencil-square"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="saveInfo(i)"
        *ngIf="isEditMode(passenger)"
      >
        Guardar <i class="bi bi-check2-square"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        *ngIf="passengersArray.controls.length > 1"
        (click)="deleteInfo(i)"
      >
        Eliminar <i class="bi bi-x-square"></i>
      </button>
    </div>
  </div>
  <hr />
  <app-passenger
    [passengerInfo]="$any(passenger)"
    *ngIf="!isEditMode(passenger)"
  ></app-passenger>
  <app-passenger-form
    [passengerForm]="$any(passenger)"
    *ngIf="isEditMode(passenger)"
  ></app-passenger-form>
</div>
