<div class="row">
  <div class="col">
    <form [formGroup]="passengerInfo">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center gap-2">
          <h5 class="col-sm-6 fw-light">Nombres:</h5>
          <div class="col-sm-6">
            <h5>{{ passengerInfo.controls['names'].value }}</h5>
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center gap-2">
          <h5 class="col-sm-6 fw-light">Apellidos:</h5>
          <div class="col-sm-6">
            <h5>{{ passengerInfo.controls['last_names'].value }}</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center gap-2">
          <h5 class="col-sm-6 fw-light">Nacionalidad:</h5>
          <div class="col-sm-6">
            <h5>{{ passengerInfo.controls['nationality'].value }}</h5>
          </div>
        </div>
        <div class="col-sm-6 d-flex align-items-center gap-2">
          <h5 class="col-sm-6 fw-light">{{ getDocumentType() }}:</h5>
          <div class="col-sm-6">
            <h5>{{ passengerInfo.controls['document'].value }}</h5>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
