<div class="row">
  <div class="col">
    <form [formGroup]="passengerInfo">
      <!-- Nombres -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombres</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            disabled
          />
        </div>
      </div>

      <!-- Apellidos -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Apellidos</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            disabled
          />
        </div>
      </div>

      <!-- Nacionalidad -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nacionalidad</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            disabled
          />
        </div>
      </div>

      <!-- Documento de identidad -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tipo de documento</label>
        <div class="col-sm-9">
          <input 
            type="text"
            class="form-control"
            disabled
          />
        </div>
      </div>

      <!-- Número de documento -->

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Número de documento</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            disabled
          />
        </div>
      </div>
    </form>
  </div>
</div>
